<% if @user.errors.any? %>
  <ul id='registration-errors'>
    <% @user.errors.full_messages.each do |message| %>
      <%= content_tag(:li, message, class: 'registration-error') %>
    <% end %>
  </ul>
<% end %>

<div>
  <%= form_for(@user) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.submit 'Submit' %>
  <% end %>
</div>