<header>
  <nav>
    <h1>
      <%= link_to root_url do %>
        Munch<strong>Alerts</strong>
      <% end %>
    </h1>
  </nav>
  <div id="pasta-banner">
    <div class="box well">
      <div id="box-top">
        <span id="sign-up">Sign Up</span>
        <a id="help-popover" class="btn" role="button" data-container="body" data-toggle="popover" data-placement="right"
        data-content="Have flash sale alerts sent to your inbox" data-trigger="click">?</a>
      </div>
      <%= form_tag '/users', remote: true, id: 'email-form' do %>
        <%= label_tag 'email', 'Email' %>
        <%= email_field_tag 'email' %>
        <%= submit_tag 'Submit' %>
      <% end %>
    </div>
  </div>
</header>