<header>
  <nav role="navigation">
    <%= link_to root_url do %>
      Munch<strong>Alerts</strong>
    <% end %>
  </nav>
  <%= render 'layouts/flash' unless flash.empty? %>
  <div id="banner" class="container">
    <div class="row-fluid">
      <div class="col-md-4 col-md-offset-7">
        <div class="box well">
          <span id="sign-up">Sign Up</span>
          <%= form_tag '/users', remote: true, id: 'email-form' do %>
            <%= email_field_tag 'email', nil, placeholder: 'hungry@gmail.com', tabindex: 100 %>
            <%= submit_tag 'Submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>