<header>
  <nav>
    <%= link_to root_url do %>
      Munch<strong>Alerts</strong>
    <% end %>
  </nav>
  <%= render 'layouts/flash' unless flash.empty? %>
  <div id="pasta-banner">
    <div class="box well">
      <div id="box-top">
        <span id="sign-up">Sign Up</span>
        <a id="help-popover" class="btn" role="button" data-container="body" data-toggle="popover" data-placement="right"
        data-content="Have flash sale alerts sent to your inbox" data-trigger="click">?</a>
      </div>
      <%= form_tag '/users', remote: true, id: 'email-form' do %>
        <%= label_tag 'email', 'Email' %>
        <%= email_field_tag 'email', nil, placeholder: 'hungry@gmail.com', tabindex: 100 %>
        <%= submit_tag 'Submit' %>
      <% end %>
    </div>
  </div>
</header>