<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>MunchAlerts -- Get notified of Munchery sales</title>
  <meta name="description" content="Check current Munchery flash sales and be notified of new ones by email!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <%= stylesheet_link_tag "application", "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- [if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wrap">
    <%= render "layouts/header" %>

    <div id="main" role="main">
      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
