<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>MunchAlerts -- Get notified of Munchery sales</title>
  <meta name="description" content="Check current Munchery flash sales and be notified of new ones by email!">
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <%= render "layouts/header" %>

  <div id="main" role="main">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</div>
</body>
</html>
